* {
    box-sizing: border-box;
}
/*general style of entire page*/
body {
    background: url('../images/simplebg.jpg');
    font-size: 18px;
    line-height: 34px;
    font-family: 'Lato', sans-serif;
    color: #777;
}
/*main box in center of page*/
.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

h1, h2, h3, p {
    margin-bottom: 20px;
}

p:last-child {
    margin-bottom: 0;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #02a4d3;
}

h1 {
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #efefef;
    padding-bottom: 20px;
}

h2, h3 {
    font-size: 22px;
}

/*header*/
/*the header on very top*/
#masterheader {
    background: #fff;
    margin: 0 0 30px;
    z-index: 999;
    color: #fff;
    overflow: auto;
    border-bottom: 2px solid #ccc;
    position: fixed;
    width: 100%;
}
/*blue Dafydd Zephyr logo*/
#logo {
    width: 280px;
    height: 90px;
    background: #02a4d3;
    float: left;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 90px;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
}
/*all three nav buttons*/
nav {
    float: right;
    margin-top: 25px;
}
/*each individual nav button*/
nav a {
    color: #999;
    text-decoration: none;
    margin-left: 15px;
    display: inline-block;
    border-left: 1px solid #efefef;
    padding-left: 15px;
    line-height: 18px;
}
/*first nav on the left*/
nav a:first-child {
    border-left: 0 none;
}

/*main*/
#main-container {
    padding-top: 120px;
}

.main-section {
    background: #fff;
    padding: 30px;
    margin: 0 0 40px 0;
    width: 100%;
    max-width: 650px;
    float: left;
    border: 1px solid #ddd;
}

.auth-image {
    width: 200px;
    height: auto;
    margin-top: 10px;
    float: left;
    margin-right: 25px;
    clear: both;
}

/*sidebar*/
.sidebar {
    background: #fff;
    padding: 30px;
    width: 100%;
    max-width: 270px;
    float: right;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

h3, .sidebar, h2 {
    border-bottom: 2px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
}

.social {
    width: 62px;
    height: 62px;
    margin-top: 8px;
    margin-right: 5px;
}

.social:hover {
    opacity: .8;
    cursor: pointer;
}

.social:last-child {
    margin-right: 0;
}

footer {
    background: #666;
    color: #fff;
    padding: 30px 0;
    clear: both;
    border-top: 8px solid #02a4d3;
    color: #ccc;
    font-size: 12px;
    text-align: center;
    margin-top: 40%;
}

/*portfolio*/
.work {
    width: 274px;
    overflow: auto;
    position: relative;
    float: left;
    margin: 20px 0 25px;
    z-index: 0px;
}

.work:nth-child(even) {
    margin-right: 40px;
}

.work img {
    width: 100%;
    border: 0 none;
}

.work:hover {
    opacity: .8;
    cursor: pointer;
}

.work h3 {
    border-bottom: 0;
    background: #02a4d3;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 10px;
    padding: 10px;
    width: 100%;
    line-height: 30px;
    margin-bottom: 0;
    font-weight: 300;
}

/*contact*/

#contact-form ul {
    margin-bottom: 20px;
}

#contact-form li {
    margin-bottom: 10px;
}

label, input [type=text], input [type=email], textarea {
    display: block;
    width: 100%;
}

input [type=text], input [type=email], textarea {
    height: 35px;
    border: 1px solid #ddd;
    padding: 0 10px;
    font-size: 14px;
}

textarea {
    height: 200px;
}

#submit {
    background: #02a4d3;
    border: 0 none;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    cursor: pointer;
}

#name {
    width: 100%;
}

#email {
    width: 100%;
}

@media only screen and (max-width: 980px) {
    nav {
        margin-right: 5px;
    }
}

@media only screen and (max-width: 768px) {
    .main-section,
    .sidebar {
        max-width: 100%;
    }
    main {
        overflow: auto;
    }
    
    .work {
        width: 47%;
    
        margin-bottom: 10px;
    }
    
    .work:nth-child(even) {
        margin-right: 0;
    }
    
    .work:nth-child(odd) {
        float: right;
    }
    
    .auth-image {
        width: 50%;
    }
    
    .sidebar {
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 640px) {
    #masterhead {
    position: static;
    margin-bottom: 20px;
    }
      
    header .container {
        padding: 0;
    }
    
    main.container {
        padding-top: 0;
    }
    
    #logo,
    .work,
    .auth-image {
        width: 100%;
    }
    
    nav {
        width: 100%;
    
        margin: 15px 0;
    
        text-align: center;
    }
    
    nav a {
        width: 30%;
        padding-left: 0;
    
        margin-left: 0;
    }
}
      